nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #41bacc;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.homeabout {
    width: 500px;
    text-align: center;
    margin-left: 260px;
}

.quote{
    margin-top: 100px;
    font-size: x-large;
}

.quoteid{
    font-size: small;
    margin-top: 50px;
}

.input{
    margin-top: 120px !important;
}

.image{
    width: 500px;
    max-height: 500px;
    margin-top: 50px;
    margin-bottom: 10px !important;
}


.button {
    right: 0;
    max-height: 40px;
    max-width: 80px;
    font-size: 11px;
    text-align: center;

}

.report {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 240px;

}

.reportid {
    position: fixed;
    right: 0;
    margin-right: 180px;
    margin-top: 5px;
    width: 100px;

}

.fade-out {
  animation: fadeOut ease 15s;
  -webkit-animation: fadeOut ease 15s;
  -moz-animation: fadeOut ease 15s;
  -o-animation: fadeOut ease 15s;
  -ms-animation: fadeOut ease 15s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

.counterbox {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
    height: 180px;
    width: 225px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: #087B84;
    padding: 20px 0
}
